/* *{
    box-sizing: border-box;
  } */


@keyframes blink{
0%{opacity: .2;}
/* 50%{opacity: .5;} */
100%{opacity: 1;}
}
  
  body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    font-weight:normal;
    line-height:1.5;
    color:#333;
    /* overflow-x:hidden; */
  }

  .searchform{
    padding-left: 2rem;
  }
  
  .v-header{
    height:63vh;
    display:auto;
    align-items:center;
    color:#fff;
  }
  
  .container{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
  }
  
  .fullscreen-video-wrap{
    position:absolute;
    top:1.5rem;
    right:0;
    width:70%;
    height:65%;
    overflow:hidden;
    z-index: -1;
  }
  
  /* .fullscreen-video-wrap img{
    min-height:200px;
    min-width:200px;
  } */

  .fullscreen-video-wrap img{
    min-height:100%; 
    min-width:100%;
  }
  
  .header-overlay{
    height:63.5%;
    position: absolute;
    top:2.5rem;
    left:-1.5rem;
    width:100vw;
    /* z-index:1; */
    background:#C70039;
    opacity:0.4;
    z-index: -1;
  }
  
  .header-content{
    z-index:2;
  }
  
  .header-content h1{
    font-size:50px;
    margin-bottom:0;
  }
  
  .header-content p{
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
  }
  
  .btn{
    background: #03412C;
    color:#fff;
    font-size:1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
  }

  .head {
      color: black
  }
  
  @media(max-width:960px){
    .container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }
  