body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
  color: #C70039;
}

a {
  color: #00B7FF;
}

span{
    width: 50%;
    position: static;
    left: 40%;
    color: black;
    font-weight: bold;
  	font: 14px "Times New Roman"
}
input {
  width: 50%;
  font-weight: bold;
  font-family: "Courier New"
}

button {
	display: block;
}

img {
  height: 20px;
  width: 20px;
}

div.banner.header {
    height: 10px;
    background-color: #C70039;
}

div.banner.footer {
    height: 5px;
    background-color: #FFC300;
}

img.banner {
  height: 50%;
  width: 100%;
}

li.footer {
  display: inline-block;
}

div.footer {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
  text-align: center;
}